@import "src/assets/styles/import";

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  animation: slide 500ms forwards;
  border: 2px solid $cl-200;
  border-radius: 20px;
  box-shadow: $primaryShadow;
  background-color: $cl-success-300;
}

.iconPositioner {
  width: 100%;
  display: flex;
  justify-content: end;
  background: none;
}

@keyframes slide {
  from {
    bottom: 20px;
    left: 0;
    transform: translateX(-120%);
  }

  to {
    bottom: 20px;
    left: 0;
    transform: translateX(20%);
  }
}
