//Grey
$cl-100: #F2F4F7;
$cl-200: #E4E7EC;
$cl-FF: #ffffff;


//Primary
$cl-primary-100: #F4EBFF;
$cl-primary-200: #E9D7FE;

//Success
$cl-success-100: #e7ffb4;
$cl-success-300: #d4ff38;

//Fonts
$cl-font: #120907;

//#D1FADF;
//#6CE9A6
